 .ac_results{ background:#fff;}
         .ac_results ul li:hover{ background-color:Blue; color:#fff;}
        .cbox{ background:#ff7f00; color:#fff;}
        body .addyd
        {
            border: none;
            width: 100%;
            overflow: hidden;
        }
        .lr_box1 TR TD, #DivYXRoom TR TD
        {
            font-size: 12PX;
        }
        .lr_box1
        {
            height: 500px;
            overflow: auto;
        }
        .chover
        {
            background: #4486b7;
        }
        .ches
        {
            background: Yellow;
        }
        
        .astyle
        {
            display: none;
            height: 600px;
            width: 80%;
            top: 1px;
            left: 2px;
            position: absolute;
        }
        body .addyd select
        {
            height: 22;
            padding-left: 2px;
        }
        body .ksxf_list table
        {
            width: 100%;
            float: left;
        }
           .dio
        {
            
            position: absolute;
            left: 70px;
            top: 23px;
            z-index:99999;
            border: 1px solid #000;
            width: 500px;
            height: 170px;
            background-color: #fff;
            overflow-x: hidden;
            display: none;
        }
        
        body .dio ul li
        {
            line-height: 30px;
            margin: 0;
            padding: 0;
             width: 500px;
        }
        body  .dio ul li:hover
        {
            background-color: #dcdcdc;
            cursor: pointer;
        }
        body .dio li span{ width:80px; float:left;}
       body  .dio .ys{ display:block; width:100px;}
       body .dio .ys2{ display:block; width:250px;}
       #redsp{ display:none;}
       .addyd li span{ width:auto; float:right; color:red;}
       .w30{ width:30px;}
       .w60{ width:50%;}
       .top1left{ width:80%;float:left;}
       .top1left ul li{ width:25%; float:left; margin:8px 0; text-indent:10px;}
       .top1right{ width:20%; float:left;}
       .tops{ width:100%; height:127px;}
       .ul2s{ width:100%}
       .ul2s li{ width:20%; float:left; text-indent:10px; margin:5px 0;}
       .jia{text-align: center; text-indent:0;
  padding: 0px;
  border: 1px solid #ccc;
  background: #eee;
  width: 26px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Microsoft YaHei"; line-height:20px;  color: #333;}
  .ul2s .spans{ display:block; float:left;}
  .ul2s .numbers{ width:30px; float:left; height:15px;}
  .zd{ width:100%;background: #EFEFEF;}
  .w110{ width:110px;}
  .w80{ width:50%;}
  .w50{ width:50px;}
  .w88{ width:88px; }
  .w30{ width:30%;}
  .w120{ width:120px;}
  .kfMoreBtn{ clear:both;}
  #cusDiv{ position:absolute; left:0; top:20px;}