<?xml version="1.0"?><configuration>
	<appSettings>
     <add key="ConStringEncrypt" value="false" />
     <add key="ConnectionString" value="server=192.168.1.5;database=CdHotelManage;uid=sa;pwd=sa2015" />
     <add key="ConnectionString1" value="Data Source=hds-101.hichina.com;Initial Catalog=hds1010453_db;User Id=hds1010453;Password=jiejie0530;" />
     <add key="VirtualPath" value="" />
	 <add key="filetype" value=".bmp,.jpg,.gif,.tif,.ico ,.png" />
     <add key="LoginPage" value="admin/Login.aspx" />
     <add key="MenuExpanded" value="false" />
     <add key="ModelCache" value="30" />
     <add key="CrystalImageCleaner-AutoStart" value="true" />
     <add key="CrystalImageCleaner-Sleep" value="60000" />
     <add key="CrystalImageCleaner-Age" value="120000" />
 </appSettings>
	<system.web>
    <sessionState mode="InProc"  cookieless="false" timeout="1" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				
        
				<!--<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      </assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<customErrors mode="Off"/>
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
			</forms>
		</authentication>
    <!--配置移除一些默认的modules-->
    <httpModules>
      <remove name="WindowsAuthentication"></remove>
      <remove name="PassportAuthentication"></remove>
      <remove name="AnonymousIdentification"></remove>
      <remove name="UrlAuthorization"></remove>
      <remove name="FileAuthorization"></remove>
    </httpModules>
    
		<pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers>
	</system.webServer>
</configuration>